<ion-row>
    <h4 class="display-4">TEMPERATUUR <i class="fas fa-temperature-high"></i></h4>
</ion-row>
<ion-row>
    <ion-col>
    <ion-spinner name="bubbles" *ngIf="!dataLoaded"></ion-spinner>
    <canvas id="temperatureLineChart" height="50%" width="75%"> {{ temperatureLineChart }}</canvas>
    <canvas id="humidityLineChart" height="50%" width="75%"> {{ humidityLineChart }}</canvas>
    </ion-col>
</ion-row>
<ion-row>
   <small class="text-muted">Updated On: {{ temperatureTimestamp }}</small>
</ion-row> 
